<div class="bg-cyan-50 w-full h-screen">
  <div class="flex flex-col h-screen">
    <!-- Sección de img -->
    <div class="flex justify-center items-center gap-20 mt-10">
      <div class="flex flex-col -mt-20" (click)="registroMonitor = true; registroMonitoria = false; sinRegistroSeleccionado = false">
        <p class="font-semibold text-2xl text-center">¿Quieres ser monitor academico? registrate aqui</p>
        <img class="mt-3 hover:-translate-y-1 hover:scale-110 duration-300 cursor-pointer"
          src="/assets/image/Hagase-Monitor-del-SENA-1.png">
      </div>
      <div class="flex flex-col mt-10" (click)="registroMonitoria = true; registroMonitor = false; sinRegistroSeleccionado = false">
        <img class="hover:-translate-y-1 hover:scale-110 duration-300 cursor-pointer"
          src="/assets/image/banner_monitoria_621x220_acf_cropped.png">
        <p class="font-semibold text-2xl text-center mt-4">Registra tu monitoria aqui</p>
      </div>

    </div>

    <div class="bg-gray-50 pt-20 flex h-screen">

      <!-- Sección de formularios -->
      <div class="w-2/5">
        <div *ngIf="registroMonitor">
          <app-monitor></app-monitor>
        </div>

        <div *ngIf="registroMonitoria">
          <app-monitoria></app-monitoria>
        </div>
      </div>

      <!-- Tabla de registro -->
      <div class="w-4/5 px-4">
        <div *ngIf="registroMonitor">
        <p class="font-semibold text-2xl text-center mt-4">Tabla de monitores</p>
          <app-listado-monitores></app-listado-monitores>
        </div>

        <div *ngIf="registroMonitoria">
        <p class="font-semibold text-2xl text-center mt-4">Tabla de monitorias</p>
          <app-listado-monitorias></app-listado-monitorias>
        </div>
      </div>
    </div>

    <div *ngIf="sinRegistroSeleccionado" class="bg-gray-50 flex flex-col items-center justify-center">
      <p class="font-semibold text-2xl text-center mt-4">¿Que registro desea hacer?</p>
      <img class="mt-5" src="/assets/image/undraw_forgot_password_re_hxwm.svg" width="460">
    </div>
  </div>
</div>
