<div class="bg-cyan-200 w-full h-screen justify-center flex items-center">

  <div class="flex flex flex-col -mt-10">
    <p class="font-semibold text-4xl text-center">¿Que actividad desea ver?</p>
    <div class="flex gap-10 mt-10">
      <!-- container activity 1 -->
      <div class="bg-sky-50 h-64 w-96 rounded-lg drop-shadow-md hover:-translate-y-1 hover:scale-110 duration-300 cursor-pointer" routerLink="activity1">
        <p class="w-full bg-teal-200 h-12 rounded-t-lg flex items-center justify-center font-semibold">Actividad 1</p>
        <div class="flex items-center justify-center mt-4">
          <img src="/assets/image/undraw_list_re_2lq8.svg" width="220">
        </div>
      </div>

      <!-- container activity 2 -->
      <div class="bg-sky-50 h-64 w-96 rounded-lg drop-shadow-md hover:-translate-y-1 hover:scale-110 duration-300 cursor-pointer" routerLink="activity2">
        <p class="w-full bg-amber-200 h-12 rounded-t-lg flex items-center justify-center font-semibold">Actividad 2</p>
        <div class="flex items-center justify-center mt-4">
          <img src="/assets/image/undraw_login_account_re_8spm.svg" width="175">
        </div>
      </div>
    </div>
  </div>
</div>
